.logo-container {
  width: 100%;
  margin-bottom: 2em;
}

.logo-container img {
  width: 100%;
}

.container {
  height: 100vh;
}

.submit {
  background-color: #ad1e24;
}

@media only screen and (min-width: 961px) {
  div#register.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div.form.col.s12 {
    padding: 0 5em;
  }

  #logo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-right: 0.1em solid #ad1e24;
  }

  .logo-container {
    grid-row: 2;
  }

  .logo-container img {
    width: 100%;
  }
}
