.form-login{
	background: white none repeat scroll 0% 0%;width: 200pt;margin: 166px auto 0px;padding: 20px;



div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
}
.row {
  margin-bottom: 15px;
}   

.list-block ul:before {
	background: none
}     


input[type="radio"] .radio .myRadio{
   display: none !important;
 }

 form input[type="radio"]:checked + label {
   background-color: yellow;
 }  

 .radioList li {

display:inline;
}